{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor%}
<form action="" method="post" class="contact-form">
    <p><label for="username">Имя: </label> <input type="text" name="username" value="" required></p>
    <p><label for="email">Email: </label> <input type="text" name="email" value="" required></p>
    <p><label for="message">Сообщение: </label></p>
    <p>
        <textarea name="message" rows=7 cols=40></textarea>
    </p>
    <p><input type="submit" value="Отправить"></p>
</form>
{% endblock %}